torch==2.2.0+cu118
torchvision==0.17.0+cu118
torchaudio==2.2.0+cu118
--extra-index-url https://download.pytorch.org/whl/cu118

numpy<2.0
gdown
gpustat
imageio
kornia
lpips
moviepy
natsort
omegaconf
opencv-python
pillow
pytorch-lightning
scikit-image
scikit-learn
scipy
tqdm
wandb
tensorflow-gan
tensorflow
tensorflow-hub
tensorflow-probability
silence-tensorflow
iPython